<div class="container narrow">
  <h1 class="page-title">
    设备管理
  </h1>

  <div>
    <ul class="nav nav-tabs">
      <li>
        <a ui-sref="devices">设备列表</a>
      </li>
      <li>
        <a ui-sref="devices-import">导入设备信息</a>
      </li>
      <li class="active">
        <a ui-sref="devices-passwords">导入设备密码</a>
      </li>
    </ul>

    <div class="content-with-nav">
      <form class="form-device-password" ng-submit="importDevicePassword()">
        <div class="form-group">
          <label class="label-control">
            设备IP和密码 <small class="text-muted">(每行一组 <code>IP:密码</code> )</small>
          </label>
          <textarea class="form-control"
            name="devices"
            ng-model="formData.devices"
            spellcheck="false"
            required></textarea>
        </div>
        <button type="submit" class="btn btn-primary"
          ng-disabled="importing">
          {{importing ? '导入中...' : '导入设备密码'}}
        </button>
      </form>
    </div>
  </div>

</div>
