<div class="container narrow">
  <h1 class="page-title">
    用户管理
  </h1>

  <div class="pkg-content">
    <form class="form-users" ng-submit="storeUsers()">
      <div class="form-group">
        <label class="label-control">
          用户类型
        </label>
        <select class="form-control"
          name="role"
          ng-model="formData.role"
          ng-options="role.value as role.text for role in roleList"
          required></select>
      </div>
      <div class="form-group">
        <label class="label-control">
          用户名和密码 <small class="text-muted">(每行一组 <code>用户名:密码</code> )</small>
        </label>
        <textarea class="form-control"
          name="users"
          ng-model="formData.users"
          spellcheck="false"
          required></textarea>
        <div class="help-block">
          用户名： 由4-16位字符组成，必须是字母、数字、下划线，并以字母开头；<br>
          密　码： 由5-16位字符组成
        </div>
      </div>
      <button type="submit" class="btn btn-primary"
        ng-disabled="storingUsers">
        批量添加
      </button>
    </form>

    <h3 class="title-users">用户列表</h3>
    <table class="table table-hover table-instances">
      <colgroup>
        <col style="width:52px">
      </colgroup>
      <thead>
        <tr>
          <th>
            <input type="checkbox" ng-model="all.checked" ng-change="allChecked()">
          </th>
          <th>用户名</th>
          <th>角色</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in userList">
          <td>
            <input type="checkbox" ng-model="row.checked" ng-change="rowChecked()">
          </td>
          <td>{{row.username}}</td>
          <td>{{row.role}}</td>
          <td>
            <!-- <a href="#" ng-click="removeUser(row)" ng-if="!row.removing">删除</a>
            <i class="icon-spinner icon-spinner-sm" ng-if="row.removing"></i> -->
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <form class="content-btnbar form-inline" ng-submit="updateRole()">
      <button type="button" class="btn btn-default"
        ng-click="removeCheckedUsers()"
        ng-disabled="removing || !checkedAtLeastOne">
        {{removing ? '删除中...' : '删除选中用户'}}
      </button>
      <select class="form-control"
          name="role"
          ng-model="updateData.role"
          ng-options="role.value as role.text for role in roleList"
          required></select>
      &nbsp;
      <button type="submit" class="btn btn-default"
        ng-disabled="updating">
        {{updating ? '保存中...' : '修改选中用户角色'}}
      </button>
    </form> -->
  </div>
</div>
